.movie {
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
  & > * {
    transition: all 0.3s;
  }
  img {
    height: 100%;
    object-fit: fill;
  }

  &:hover {
    img {
      opacity: 0.8;
    }
    .btn--play {
      transform: translate(-50%, -50%);
      opacity: 1;
      visibility: visible;
      cursor: pointer;
    }
    .overview {
      transform: translateY(0);
    }
    .rating {
      transform: translateX(0);
    }
  }
}

.overview {
  position: absolute;
  bottom: 1%;
  left: 2%;
  background-color: rgba(255, 255, 255);
  padding: 1rem 2rem;
  width: 95%;
  font-weight: bold;
  transform: translateY(200%);
  transition-delay: 0.1s;
  cursor: pointer;
  border-radius: 1rem;
}

.btn--play {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  font-size: 6.4rem;
  line-height: 0;
  color: white;
  padding: 2rem;
  background-color: rgba(255, 0, 0, 0.6);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 2;
  &:hover {
    background-color: red;
  }
}

.rating {
  z-index: 2;
  padding: 0 2rem;
  font-size: 3rem;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  right: 1%;
  top: 1%;

  transition: all 0.3s;
  transition-delay: 0.1s;
  transform: translateX(200%);
  .raters {
    color: white;
  }
}

.low-rating {
  color: orangered;
}
.mid-rating {
  color: yellow;
}

.high-rating {
  color: greenyellow;
}
