.header {
  display: grid;
  grid-template-columns: repeat(2, max-content) 0.5fr min-content;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(68, 68, 68, 0.7);
  padding: 2rem 4rem;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 5;
}

.filter {
  padding: 1rem 2rem;
  font-size: 2rem;
  border-radius: 1rem;
  transition: all 0.3s;
  &:hover {
    background-color: red;
    color: white;
  }
}
