:root {
  --color-primary: #d90429;
  --color-secondary: #0a0908;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}
*:focus {
  outline: none;
}

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #333;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  line-height: 1.7;
  max-width: 200rem;
  color: #333;
  margin: 0 auto;
}

ul {
  list-style: none;
}

img,
picture {
  width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

ion-icon {
  pointer-events: none;
}
