.container {
  position: relative;
  button,
  span {
    padding: 1rem;
  }
  span {
    pointer-events: none;
  }
}

.btn-grp {
  overflow: hidden;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 3rem;
  background-color: #f0f0f0;
  font-size: 2rem;
  border-radius: 1rem;
  min-width: 12rem;
}

.drop {
  line-height: 0;
  height: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
  transition: all 0.3s;
  &:hover {
    background-color: black;
    background-color: red;
    color: white;
  }
}

.genres {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(3, max-content);
  opacity: 0.8;
  & > * {
    width: 100%;
  }
}
